/*  Header  */
header {
    margin-bottom: 95px;
}

header ul li:nth-child(2) a {
    color: var(--green-01);
}

/*  Main  */
main {
    margin: 0 45px;
    width: 1015px;
}

section {
    margin-bottom: 80px;
}

section img {
    width: 540px;
}

.coluna {
    width: 350px;
    height: 500px;
}

.coluna-na-esquerda {
   flex-direction: row-reverse;
}

.reta {
    width: 350px;
    height: 1px;
    background-color: var(--gray-01);
    opacity: 0.15;
}

.infos-portfolio h2 {
    margin-bottom: 30px;
    color: var(--gray-01);
}

.infos-portfolio p {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 30px;
    color: var(--gray-01);
    opacity: 0.8;
}

.infos-portfolio a {
    padding: 15px 40px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--gray-01);
    border: 1px solid var(--gray-01);
}

.infos-portfolio a:hover {
    color: var(--white-01);
    background-color: var(--gray-01);
}

/*  Footer  */
.contato {
    width: 1015px;
}
