/*  Header  */
header {
    margin-bottom: 55px;
}

header ul li:nth-child(2) a {
    color: var(--green-01);
}

/*  Main  */
.hero img {
    margin-bottom: 115px;
    width: 1110px;
}

.principal {
    width: 1110px;
}

.apresentacao {
    width: 350px;
}

.reta {
    margin-bottom: 50px;
    width: 350px;
}

.apresentacao h2 {
    margin-bottom: 30px;
}

.apresentacao p {
    margin-bottom: 55px;
}

.apresentacao span {
    margin-bottom: 15px;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: var(--green-01);
}

.apresentacao a {
    margin: 15px 0 50px;
    width: 180px;
    padding: 15px 60px;
    color: var(--gray-01);
    border: 1px solid var(--gray-01);
}

.apresentacao a:hover {
    color: var(--white-01);
    background-color: var(--gray-01);
}

.infos {
    margin-top: 50px;
    width: 635px;
}

.infos h3 {
    margin-bottom: 30px;
    font-style: normal;
    line-height: 42px;
}

.infos p {
    margin-bottom: 40px;
    font-size: 15px;
}

.infos span {
    text-decoration-line: underline;
}

.infos img:last-child {
    margin-top: 30px;
}

/*  Footer  */
.navegar-entre-projetos {
    margin: 0 auto 115px;
    width: 1110px;
    height: 135px;
    justify-content: space-evenly;
}

.reta-rodape {
    width: 1110px;
}

.clicar-projeto {
    width: 165px;
    letter-spacing: normal;
    text-transform: none;
}

.para-direita {
    width: 180px;
    flex-direction: row-reverse;
}

.clicar h3 {
    font-style: normal;
    font-weight: normal;
}

.clicar span {
    font-size: 16px;
    line-height: 30px;
    color: var(--gray-01);
    opacity: 0.5;
}

.para-direita .clicar {
    align-items: flex-end;
}
