/*  Header  */
header {
    margin-bottom: 55px;
}

header ul li:first-child a {
    color: var(--green-01);
}

/*  Main  */
.hero {
    margin-bottom: 150px;
    width: 1110px;
    height: 600px;
    justify-content: flex-end;
    background-image: url(../../assets/home/image-homepage-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.apresentacao {
    width: 445px;
    top: 245px;
    background-color: var(--white-01);
}

.apresentacao h1 {
    margin: 55px 25px;
}

.apresentacao a {
    width: 200px;
    height: 50px;
    justify-content: flex-start;
    color: var(--white-01);
    background-color: var(--blue-01);
    box-shadow: inset 50px 0 var(--black-01);
}

.apresentacao a:hover {
    background-color: var(--green-01);
}

.apresentacao a:hover img {
    filter: brightness(0) invert(1);
}

.apresentacao img {
    margin: 0 50px 0 17px;
}

.sobre-mim img {
    width: 540px;
    height: 600px;
}

.coluna-direita {
    margin-left: 120px;
    width: 430px;
    height: 600px;
}

.reta {
    width: 430px;
}

.sobre-mim-infos h2 {
    margin-bottom: 30px;
}

.coluna-direita a {
    align-self: center;
    padding: 15px 30px;
    color: var(--gray-01);
    border: 1px solid var(--gray-01)
}

.coluna-direita a:hover {
    color: var(--white-01);
    background-color: var(--gray-01);
}
